<section class="phx-hero">
  <h2>Seja bem-vindo!</h2>
  <p>O <strong>Coisa Nossa</strong> foi feito para você ter conversar seguras e temporárias, ou seja, após um tempo elas sumirão e você não precisará se preocupar com seu rastro</p>
</section>

<section>
  <input placeholder="Nick"/>
</section>
