.bubble-container {
  display: flex;
  margin: 10px 0px;
}

.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}

.bubble-message {
  word-break: break-word;
  padding: 7px;
  border-radius: 10px;
}

.bubble-sender-name {
  font-size: 0.9rem !important;
}

.self-bubble {
  background-color: var(--green-primary-color);
  color: var(--bs-light) !important;
}

.participant-bubble {
  background-color: var(--grey);
  color: var(--bs-black-rgb) !important;
}

