.header-chat {
  background-color: var(--green-primary-color);
  max-height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.header-chat-container {
  width: 100%;
  padding: 0 1.0rem;
  display: flex;
}

.header-chat img {
  max-height: 30px;
  align-self: center;
  margin-right: 25px;
}

.header-chat-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-chat-navbar div {
  display: flex;
}

.room-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8rem;
  color: white;
}

.header-chat-nickname {
  display: flex;
  align-items: center;
  margin-left: 40px;
  color: white;
}
