.home {
}

.nick{
  font-size: 2em;
  margin-bottom: 0.9em;
}

.nick > span {
  color: var(--primary-color);
}

.enter-button {
  background-color: var(--primary-color) !important;
  color: #FFFFFF !important;
}
