/* General style */
.local-container{
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
}

/* Phoenix promo and logo */
.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
}

.phx-hero h2{
  font-size: 1.5rem; 
  line-height: 1.3
}


.phx-hero p strong {
  color: var(--primary-color);
}

/* Headers */
header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}
header section {
  width: 100%;
  display: flex;
  justify-content: center;
}

header section a {
  display: flex;
  justify-content: center;
}

header section a img {
  width: 25%;
}

.sign-in-button {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.invalid-nickname {
  color: red;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  .local-container {
    width: 70%;
  }
  header section a img {
    width: 25%;
  }
}
