/* General style */

/* Phoenix promo and logo */
.phx-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
}

.phx-hero h2{
  font-size: 1.5rem; 
  line-height: 1.3
}


.phx-hero p strong {
  color: var(--green-primary-color);
}

.sign-in-button {
  background-color: var(--green-primary-color) !important;
  color: #fff !important;
}

.invalid-nickname {
  color: red;
}

